<div class="flex flex-col w-full p-5">
    <h1 class="font-sans text-2xl font-semibold">Create New Student</h1>
    <form 
    [formGroup]="form" 
    novalidate 
    (ngSubmit)="onSubmit()"
    class="grid gap-1 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="example@example.com">
            <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
        <ng-select 
            [dropdownPosition]="'bottom'"
            [appearance]="'outline'"
            [items]="departments" 
            bindLabel="name" 
            bindValue="id" 
            formControlName="department"
            [loading]="loadingDepartments">
        </ng-select>

        <button 
            class="font-sans text-lg font-semibold col-span-full bg-red-900 text-white px-5 py-2.5" 
            [disabled]="!this.form.valid"
            mat-raised-button>
            <mat-icon><mat-spinner *ngIf="sending" [diameter]="20" [color]="'accent'"></mat-spinner></mat-icon>
            Register
        </button>
    </form>
</div>
