
<div class="flex flex-col">
    <img class="self-center items-center justify-center w-48 h-48 bg-white rounded-full p-1 mb-5" src="/assets/images/logo-filled.png" alt="">

    <div class="flex flex-col border-4 border-slate-600 px-4 mx-4">
        <div class="flex flex-col w-full mb-6">
            <h1 class="text-3xl font-sans font-semibold bg-white w-fit  -mt-5">Mission</h1>
            <p class="text-xl font-sans font-medium">The Manuel S. Enverga University Foundation - Candelaria, Inc., is a private non-sectarian education foundation with a three-fold function -instruction, research and community servie ofering responsive and alternative programs supportive of national development goals and standards of global excellence.</p>
        </div>
        
        <div class="flex flex-col w-full mb-6">
            <h1 class="text-3xl font-sans font-semibold">Vision</h1>
            <p class="text-xl font-sans font-medium">The Manuel S. Enverga University Foundation - Candelaria, Inc. shall be a globally competitive university.</p>
        </div>
        
        <div class="flex flex-col w-full mb-6">
            <h1 class="text-3xl font-sans font-semibold">Goal</h1>
            <p class="text-xl font-sans font-medium">Manuel S. Enverga University Foundation - Candelaria, Inc. shall produce graduates who have research-based knowledge, leadership and managerial skills, and professionalism.</p>
        </div>
        
        <div class="flex flex-col justify-end mb-6 -mr-6">
            <h1 class="text-3xl font-sans font-semibold text-right bg-white">Core Values</h1>
            <p class="text-xl font-sans font-medium text-right bg-white">We commit to demostrate passion for excellence, principled leadership Personal commitment, loyalty and discipline creativity and critical thinking, respect for human dignity, respect for basic freedom/human rights, excercise of rights andwith responsibility, moral sensitivity, recognition of cultural differences, social justice within the framework of democracy, forward-looking nationalism, sustainable development, Harmony with nature, Self-reliance.</p>
        </div>
    </div>
</div>
