<div class="flex flex-col w-full p-5">

    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="A" #input>
    </mat-form-field>
    <div class="table-container mat-elevation-z8">
        <va-mat-table class="mat-elevation-z8">
            <ng-container action-bar-items class>
                <button va-mat-table-column-sorter [(columns)]="displayedColumns" [columnNames]="displayedColumns"
                    [saveName]="userId+'classes-table'">
                    <mat-icon>view_column</mat-icon>
                    Columns
                </button>
            </ng-container>
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sticky> Name </th>
                    <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="major">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Major </th>
                    <td mat-cell *matCellDef="let row"> {{row.major}} </td>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="semester">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Semester </th>
                    <td mat-cell *matCellDef="let row"> {{row.semester}} </td>
                </ng-container>

                <!-- Gender Column -->
                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> School Year </th>
                    <td mat-cell *matCellDef="let row">
                        <p class="">{{ row.year }}</p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="students">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. Students </th>
                    <td mat-cell *matCellDef="let row">
                        <p class="">{{ row.students }}</p>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowOnClick(row)"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
        </va-mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>