<div class="grid gap-2 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-2 pt-10">
    <button 
        matRipple
        [matRippleColor]="'slate-50'"
        (click)="createNewSchedule()"
        class="flex items-center justify-center bg-rose-900 rounded-xl text-slate-50 p-4 drop-shadow-lg space-x-2">
        <mat-icon>edit_calendar</mat-icon>
        <span class="font-sans text-xl font-semibold">Create New Class Schedule</span>
    </button>
    <button
        matRipple
        [matRippleColor]="'slate-50'" 
        (click)="createRequestSubject()"
        class="flex items-center justify-center bg-rose-900 rounded-xl text-slate-50 p-4 drop-shadow-lg space-x-2">
        <mat-icon>schedule_send</mat-icon>
        <span class="font-sans text-xl font-semibold">Send Class Schedule</span>
    </button>
    <button 
        matRipple
        [matRippleColor]="'slate-50'"
        [routerLink]="'/dept-head/request-class-schedule'"
        class="flex items-center justify-center bg-rose-900 rounded-xl text-slate-50 p-4 drop-shadow-lg space-x-2">
        <mat-icon>more_time</mat-icon>
        <span class="font-sans text-xl font-semibold">Request Subjects Schedule</span>
    </button>
    <button 
        matRipple
        [matRippleColor]="'slate-50'"
        [routerLink]="'/dept-head/subject-requests'"
        class="flex items-center justify-center bg-rose-900 rounded-xl text-slate-50 p-4 drop-shadow-lg space-x-2">
        <mat-icon>pending_actions</mat-icon>
        <span class="font-sans text-xl font-semibold">View Requesting Departments</span>
    </button>
</div>