<div class="grid gap-2 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-2 pt-10">
    <button 
        matRipple
        [matRippleColor]="'slate-50'"
        (click)="createNewSchedule()"
        class="font-sans text-xl font-semibold bg-rose-900 rounded-xl text-slate-50 p-4 drop-shadow-lg">
        Create New Class Schedule
    </button>
    <button
        matRipple
        [matRippleColor]="'slate-50'" 
        (click)="createRequestSubject()"
        class="font-sans text-xl font-semibold bg-rose-900 rounded-xl text-slate-50 p-4 drop-shadow-lg">
        Send Class Schedule
    </button>
    <button 
        matRipple
        [matRippleColor]="'slate-50'"
        [routerLink]="'/dept-head/request-class-schedule'"
        class="font-sans text-xl font-semibold bg-rose-900 rounded-xl text-slate-50 p-4 drop-shadow-lg">
        Request Class Schedule
    </button>
    <button 
        matRipple
        [matRippleColor]="'slate-50'"
        [routerLink]="'/dept-head/subject-requests'"
        class="font-sans text-xl font-semibold bg-rose-900 rounded-xl text-slate-50 p-4 drop-shadow-lg">
        View Requesting Departments
    </button>
</div>