<div class="grid grid-cols-1 lg:grid-cols-3 ">
    <div class="hidden md:flex"></div>
    <div class="grid grid-cols-1 justify-items-center">
        <form class="flex flex-col justify-center"
            (ngSubmit)="onSubmit()">

            <div class="flex flex-col items-center justify-center p-2">
                <img class="w-24 lg:w-48 lg:h-48 m-5" src="/assets/images/logo-filled.png" alt="logo">
            </div>
            <div class="flex p-5">
                <p class="text-sans text-md font-medium align-middle text-justify">Enter the email address associated with your account and we'll send you a link to reset your password. Thank you.</p>
            </div>

            <mat-form-field class="w-full p-5" appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <div class="flex px-5 p-2">
                <button mat-raised-button [disabled]="!this.emailFormControl.valid" class="w-full" color="primary">Continue</button>
            </div>
        </form>

        <a mat-flat-button href="/login" 
            class="flex flex-row items-center w-ful">
            <span>Changed Mind? </span> 
            <span class="text-sans text-medium text-red-900">Login</span> 
        </a>
    </div>

    <div class="hidden md:flex"></div>
</div>
