<div class="flex flex-col w-full h-full bg-white">

    <!-- credentials -->
    <div class="flex flex-col md:flex-row w-full items-center justify-center md:justify-start border-b-2 border-slate-400 rounded-xl p-5 md:space-x-10 ">
        <img class="w-48 h-48" src="/assets/images/logo-filled.png" alt="logo">

        <form [formGroup]="credentialsForm" novalidate (ngSubmit)="updateCredentials()" class="flex flex-col w-full md:p-5">
            <p class="font-sans text-lg font-semibold">Credentials</p>
            <div class="grid gap-2 grid-cols-1 md:grid-cols-3">
                <mat-form-field class="col-span-full" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input type="text" matInput formControlName="username" placeholder="joshua.lapso">
                    <mat-error *ngIf="credentialsForm.controls['username'].hasError('required')">
                        Username is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-span-full" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="example@gmail.com">
                    <mat-error *ngIf="credentialsForm.controls['email'].hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="flex" appearance="outline">
                    <mat-label>Current Password</mat-label>
                    <input type="password" matInput formControlName="currentPassword" placeholder="Password">
                </mat-form-field>
                <mat-form-field class="flex" appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Password">
                </mat-form-field>
                <mat-form-field class="flex" appearance="outline">
                    <mat-label>Confirm New Password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword" placeholder="Password">
                    <mat-error
                        *ngIf="credentialsForm.hasError('notSame')">
                        Passwords do not match
                    </mat-error>
                </mat-form-field>
            </div>
            <button class="font-sans text-md font-semibold col-span-3 bg-purple-600 text-white w-full text-center" 
                [disabled]="!willUpdateCredentials || !this.credentialsForm.valid"
                mat-raised-button>
                <mat-icon *ngIf="updatingCredentials" >
                    <mat-spinner [diameter]="20" [color]="'accent'"></mat-spinner>
                </mat-icon>
                Change
            </button>
        </form>
    </div>
    <div class="relative flex flex-col w-full lg:h-screen border-2 border-slate-400 rounded-xl p-2">
        <p class="font-sans text-lg font-semibold">Year</p>
        <div class="grid gap-1 grid-cols-3">
            <mat-form-field class="col-span-1" appearance="outline">
                <mat-label>Time</mat-label>
                <input type="text" matInput [(ngModel)]="studentYear" placeholder="W / 03:00-04:00pm">
            </mat-form-field>
        </div>
    
        <button class="font-sans text-md font-semibold col-span-3 bg-purple-600 text-white px-5 py-2.5 mb-2"
            (click)="updateProfile()"
            mat-raised-button>
            Update Profile
        </button>
    </div>
</div>