<div class="grid gap-2 grid-cols-1 md:grid-cols-3 w-full h-full p-2">
    <div class="flex flex-col p-2 border-slate-400 border-2 rounded-xl h-fit">
        <h1 class="font-sans text-2xl font-semibold">{{ profileIndicator }} Profile</h1>
        <mat-icon class="no-profile-svg">account_circle</mat-icon>

        <div *ngIf="currentRole == 'Department Head' && userRole == 'teacher'"
            class="grid gap-2 grid-cols-1 p-5">
            <button 
                matRipple
                (click)="generateTeachingAssignment()"
                class="font-sans text-xl font-semibold text-white text-center bg-rose-800 rounded-md hover:bg-rose-900 p-2 drop-shadow-md shadow-md">
                Generate Teaching Assignment
            </button>
        </div>
    </div>

    <div class="col-span-2 grid gap-2 grid-cols-1 p-2 border-slate-400 border-2 rounded-xl">
        <mat-list>
            <div mat-subheader>{{ profileIndicator }} Name</div>
            <mat-list-item>
                {{ userName }}
            </mat-list-item>

            <mat-divider></mat-divider>

            <div mat-subheader>Department</div>
            <mat-list-item>
                {{  userProfile.department_name }}
            </mat-list-item>
            
            <mat-divider></mat-divider>

            <div *ngIf="userRole == 'student'" class="">
                <div mat-subheader>Year</div>
                <mat-list-item>
                    {{  userProfile.year }}
                </mat-list-item>
            </div>
          </mat-list>
    </div>
</div>