<div class="flex md:items-center justify-center w-screen h-screen bg-white md:bg-red-900">
    <div class="flex justify-center items-center md:rounded-xl md:shadow-xl md:shadow-slate-600/50 w-full bg-white md:w-2/3 lg:h-2/3">
        <div class="hidden lg:flex flex-col items-center justify-center p-2">
            <img class="w-48 h-48 m-5" src="/assets/images/logo-filled.png" alt="logo">
            <h1 class="text-2xl font-sans font-semibold text-center">Manuel S. Enverga University Foundation Candelaria Inc.</h1>
        </div>
        <div class="flex flex-col items-center w-full h-full my-5">
            <div class="font-sans text-6xl font-bold pt-5 lg:pt-24">Change Password</div>
            <form [formGroup]="form" 
                novalidate 
                class="flex flex-col md:items-center w-full h-full px-5 space-y-8 pt-12 "
                (ngSubmit)="onSubmit()">
                
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput formControlName="password"
                        placeholder="Password">
                    <mat-hint>Please input new password</mat-hint>
                    <mat-error *ngIf="form.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput formControlName="confirmPassword"
                        placeholder="Password">
                    <mat-hint>Confirm password</mat-hint>
                    <mat-error *ngIf="form.hasError('password') && !form.hasError('required')">
                        Invalid Password Confirm Password
                    </mat-error>
                </mat-form-field>

                <button 
                    class="font-sans text-md font-semibold w-full md:w-2/3 bg-purple-600 text-white px-5 py-2.5 mb-2 " 
                    mat-raised-button>
                    <mat-icon><mat-spinner *ngIf="sending" [diameter]="20" [color]="'accent'"></mat-spinner></mat-icon>
                    Login
                </button>
            </form> 
        </div>
    </div>
</div>